@import '../../assets/styles/variables.scss';

.paragraph_with_image {
  margin-top: $text_margin_top;

  @media screen and (max-width: 650px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  width: 100%;
  p {
    vertical-align: middle;
    height: 100%;
  }
}
.img_class {
  cursor: pointer;
  max-width: 30%;
  min-width: 300px;
  box-shadow: $shadow_length $shadow_length $shadow_length $shadow_length $shadow_color;
  border-radius: 5px;
}
.img_class:hover {
  scale: 1.1;
}

.left_image_float { 
  @media screen and (min-width: 650px) {
    float: left; 
    margin: 0 40px 0 0;
  }
}
.right_image_float { 
  @media screen and (min-width: 650px) {
    float: right; 
    margin: 0 0 0 40px;
  }

}

.paragraph_circled_image {
  border-radius: 30px;
}