@import '../../assets/styles/variables.scss';

.chapter {
    color: black;

    width: 80%;
    position: relative;
    left: 10%;
  
    display: flex;
    flex-direction: column;
    // gap: 20px;
    gap: $text_margin_top;
    margin-top: 100px;
    padding-top: 70px;
    // margin-bottom: 30px;
  
    h2 {
      font-size: $chapter_title_font_size;
      font-weight: bold;
      margin-bottom: 30px;
      font-family: $text-font-family;
      font-weight: $bold-font-merriweather;
    }
    h4 {
      font-size: calc($chapter_title_font_size - 3px);
      font-weight: bold;
      margin-bottom: 15px;
      font-family: $text-font-family;
      font-weight: $bold-font-merriweather;
    }
    p {
      font-size: $text_font_size;
      line-height: 1.5;
      font-family: $text-font-family;
      font-weight: $bold-font-merriweather;
      text-align: justify;
    }
  
    ul {
      list-style: none;
    }
    li {
      text-decoration: none;
      margin-left: 30px;
      font-size: $text_font_size;
      line-height: 1.5;
      font-family: $text-font-family;
      font-weight: $bold-font-merriweather;
      text-align: justify;
    }
    li:before {
      content:  "—";
      position: relative;
      left:     -5px;
    }
  }