@import '../../assets/styles/variables.scss';

.materials_bg {
  // background: linear-gradient(180deg, rgb(249, 193, 175) 0%, rgb(165, 205, 241) 100%);
  background-color: $site_bg_color_2;
  // filter: grayscale(100%);

}

.materials_div {  
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;    
}

.material_card {
  height: 550px;
  border-radius: 10px;

  @media screen and (min-width: 540px) {
    width: 220px;
    // max-width: 200px;
    // height: 550px;
    // gap: 10px;
  }
  @media screen and (max-width: 540px) {
    width: 80%;
    // height: 450px;
    // gap: 5px;
  }
  display: grid;
  // grid-template-rows: 300px 0.5fr 0.5fr 50px;
  grid-template-rows: 315px 50px 100px 50px;

  align-self: center;
  align-items: center;
  justify-self: center;
  text-align: center;
  gap: 10px;

  border: $border-width solid $border-color;
  // box-shadow: $shadow_length $shadow_length $shadow_length $shadow_length $shadow_color;

  // padding-top: 10px;
  // padding-bottom: 10px;
  padding: 10px 5px;
  margin-bottom: 25px;

  img {
    width: 200px;
    height: 300px;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
  }
  h4 {
    font-size: 20px;
    font-weight: bold;
    font-family: $text-font-family;
    font-weight: $bold-font-merriweather;
    @media screen and (max-width: 540px) {
      margin: 0;
    }
  }
  h5 {
    font-size: 16px;
    font-family: $text-font-family;
    font-weight: $bold-font-merriweather;
  }
  a {
    align-self: end;
    // color: black;

    // button {
    //   padding: 10px 20px 10px 20px;
    //   // background-color: grey;
    //   border: 1px solid $border-color;
    //   border-radius: 5px;
    //   font-size: calc($text_font_size - 3px);
    //   cursor: pointer;
    //   color: black;
    // }
  }
}
.download_btn_class {
  padding: 10px 20px 10px 20px;
  border: 1px solid $border-color;
  border-radius: 5px;
  font-size: calc($text_font_size - 3px);
  cursor: pointer;
  color: black;
  // background-color: transparent;
  background-color: rgb(211, 209, 209);
  // --webkit-appearance: none;
}
.material_card:hover {
  scale: 1.02;
}
  