@import '../../assets/styles/variables.scss';

.materials_div {  
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .material_card {
    @media screen and (min-width: 540px) {
      max-width: 200px;
      height: 550px;
      gap: 10px;
    }
    @media screen and (max-width: 540px) {
      width: 80%;
      height: 450px;
      gap: 5px;
    }
    display: grid;
    grid-template-rows: 4fr 0.5fr 0.5fr 1fr;
  
    align-self: center;
    align-items: center;
    justify-self: center;
    text-align: center;
  
    border: $border-width solid $border-color;
    box-shadow: $shadow_length $shadow_length $shadow_length $shadow_length $shadow_color;
  
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
  
    img {
      width: 200px;
      height: 300px;
      cursor: pointer;
    }
  
  
    h4 {
      font-size: 20px;
      font-weight: bold;
      font-family: $text-font-family;
      font-weight: $bold-font-merriweather;
      @media screen and (max-width: 540px) {
        margin: 0;
      }
    }
    h5 {
      font-size: 16px;
      font-family: $text-font-family;
      font-weight: $bold-font-merriweather;
    }
    a {
      button {
        padding: 10px 20px 10px 20px;
        background-color: grey;
        border-radius: 5px;
        font-size: calc($text_font_size - 3px);
        cursor: pointer;
        color: black;
      }
      color: black;
    }
  }
  .material_card:hover {
    scale: 1.1;
  }
  