@import '../../../assets/styles/variables.scss';

.one_event_wrapper {
    display: block;
    border: 3px black solid;
    border-radius: 10px;
    font-family: $text-font-family;
    padding: 20px;

    p {
        font-size: 18px;
    }
    h2 {
        color: red;
        text-align: center;
    }
}

.preview_line {
    display: grid;
    grid-template-columns: 1fr 3fr 40px;
    column-gap: 15px;
}