//@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=IM+Fell+DW+Pica+SC&family=IM+Fell+English+SC&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Averia+Serif+Libre:wght@300&family=Brygada+1918&family=Comfortaa&family=EB+Garamond&family=Merriweather:wght@300&family=Old+Standard+TT&display=swap');

$border-color: white;
$border-color-photo: red;
$border-width: 3px;

$text_font_size: 20px;
// $event_font_size: 18px;
$chapter_title_font_size: 30px;
$text_color: black;
$text_margin_top: 20px;

$shadow_color: gray;
$shadow_length: 5px;
$small_shadow: 2.5px;

$menu-bgColor: #D0D0D0;
$menu-text-color: #7A2B2B;
$our-program-text-color: #EFD8D8;

$text-font-family: 'Merriweather', serif;
$bold-font-merriweather: 400;

$full_menu_screen_size: 1000px;
